.trivia-results {
  text-align: center;

  h1{
    margin-bottom: 0;
  }

  .try-again{
    padding: 1rem;
    background-color: orange;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .questions {
    display: grid;
    text-align: left;
    grid-template-columns: min-content 1fr;

    & > .result {
      padding: 0.5rem;
      span {
        display: inline-block;
        padding: 0.5rem;
        opacity: .5;
        color: white;
        text-align: center;
        white-space: nowrap;
        &.correct {
          background-color: green;
        }
        &.incorrect {
          background-color: red;
        }
      }

    }

    & > .text {
      padding: 0.5rem 0.5rem 1rem 0.5rem;
      border-bottom: 1px solid gray;
      margin-inline-start: 0.2rem;
      margin-block-end: 1rem;
      p{
        margin: 0;
        padding: 0;
        &:last-child {
          color: gray;
        }
      }

    }
  }
}