* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.main-layout {
  display: grid;
  grid-template-rows: min-content 4fr min-content;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  flex-wrap: wrap;

  main {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
  }
}